<link rel="stylesheet" href="/css/form.css">
<div class="wrapper">
  <div class="form-container">
    <h1 class="form-title">Login</h1>
    <form action='/login' method='post'>
      <label for='username'>Username</label>
      <input type='text' name='username' id='username-input' autocomplete="off">

      <label for='password'>Password</label>
      <input type='password' name='password' id='password-input'>

      <button type='submit'>Sign In</button>
    </form>

    <div class="form-footer">
      <div class="link">
        <a href="/signup" class="underline-hover">signup</a>
      </div>
      {{#if errorMessage}}
      <p class="error-msg">{{ errorMessage }}</p>
      {{/if}}
    </div>
  </div>
</div>