<link rel="stylesheet" href="/css/form.css">
<div class="wrapper">
  <div class="form-container">
    <h1 class="form-title">Signup</h1>

    <form action='/signup' method='post'>
      <label for='email'>Email</label>
      <input type='email' name='email' id='email-input'>

      <label for='username'>Username</label>
      <input type='text' name='username' id='username-input'>

      <label for='password'>Password</label>
      <input type='password' name='password' id='password-input'>

      <label for='password-confirm'>Confirm your Password</label>
      <input type='password' name='passwordConfirm' id='password-confirm-input'>

      <br>

      <button type='submit'>Sign Up</button>
    </form>
    <div class="form-footer">
      <div class="link">
        <a href="/login" class="underline-hover">login</a>
      </div>
      {{#if errorMessage}}
      <p class="error-msg">{{ errorMessage }}</p>
      {{/if}}
    </div>
  </div>
</div>