Interests

<form action="/onboarding" method="post">
  <input type="checkbox" name="Technology" value="True">Technology<br>
  <input type="checkbox" name="Sustainability" value="True">Sustainability<br>
  <input type="checkbox" name="Spirituality" value="True">Spirituality<br>
  <input type="checkbox" name="Education" value="True">Education<br>

  <button type="submit">Submit</button>
</form>