#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

#nav-items {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  background-image: url('/images/octopus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 60px;
  width: 100px; 
}

.nav-item {
  margin: 0 20px;
  text-decoration: none;
  text-transform: capitalize;
}