<form action="/update-password" method="post">
  <label for='new-password'>new password</label>
  <input type='new-password' name='new-password' id='new-password-input'>
  <label for='new-password-confirm'>new password confirm</label>
  <input type='text' name='new-password-confirm' id='new-password-confirm-input'>
  <br>
  <button type='submit'>Update</button>
</form>

{{#if errorMessage}}
<p>{{ errorMessage }}</p>
{{/if}}